<% switch (action) { 
case 'create':%>

<fieldset class="form-control form-teachers">
	<legend>Teachers</legend>

	<div class="form-group">
		<div class="form-group">
			<label for="">Courses: </label>
			<span>
				<select name="idx" persist>
					<% if (courses && courses.length > 0) { %>
					<% for(i in courses){ %>
					<option value="<%= i %>"><%= courses[i].name %></option>
					<%}%>
					<% } else { %>
					<option value="null"><%= 'Nenhum Curso Encontrado' %></option>
					<% } %>
				</select>
			</span>
		</div>
	</div>
	
	<div class="buttons">
		<a class="btn btn-info" id="listing-courses">Listing Courses</a>
		<a class="btn btn-success" id="create-teachers">Create</a>
	</div>

</fieldset>

<%break;
default:
alert('error');
}%>