<% switch (action) { 
case 'form':%>

<fieldset class="form-control form-courses">
	<legend>Courses</legend>

	<div class="form-group">
		<label for="">Section: </label>
		<span><input type="text" name="section" persist value="<%=course.section%>"></span>
		<label for="">Name: </label>
		<span><input type="text" name="name" persist value="<%=course.name%>"></span>
	</div>

	<div class="buttons">
		<a class="btn btn-<%=(course.id) ? 'warning' : 'success'%>" id="submit-courses"><%=(course.id) ? 'Update' : 'Create'%></a>
	</div>

</fieldset>

<% break;
case 'delete':%>

<fieldset class="form-control form-courses">
	<legend>Courses</legend>

	<div class="form-group">
		<label for="">Page Size: </label>
		<span><input type="text" name="pageSize" persist></span>
	</div>
	
	<div class="buttons">
		<a class="btn btn-danger" id="delete-courses">Delete</a>
	</div>

</fieldset>

<%break;
case 'listing':
var x = 0;%>

<fieldset class="form-control form-courses">
	<legend>Courses</legend>

	<div class="form-group">
		<label for="">Page Size: </label>
		<span><input type="text" name="pageSize" persist></span>
	</div>
	
	<div class="buttons">
		<a class="btn btn-info" id="listing-courses">Listing</a>
	</div>

	<div class="list-responsible">
		<% if (courses && courses.length > 0) { %>
		<ul id="menu-courses">
			<li class="header">
				<span class="cell"><%= 'Section' %></span>
				<span class="cell"><%= 'Name' %></span>
				<span class="cell"><%= 'Menu' %></span>
			</li>
			<% for(i in courses){ %>
			<li>
				<span class="name cell" data-section="<%= courses[i].section %>"><%= courses[i].section %></span>
				<span class="name cell" data-name="<%= courses[i].name %>"><%= courses[i].name %></span>
				<span class="cell">
					<a class="edit" data-idx="<%= i %>"><span class="ico">W</span></a>
					<a class="teacher" data-idx="<%= i %>"><span class="ico">&#xE02B;</span></a>
					<a class="student" data-idx="<%= i %>"><span class="ico">&#xE024;</span></a>
					<a class="del" data-id="<%= courses[i].id %>"><span class="ico">*</span>	</a>
				</span>
			</li>
			<%}%>
		</ul>
		<% } else { %>
		<span class="inline-alert"><%= 'Nenhum Curso Encontrado' %></span>
		<% } %>
	</div>

</fieldset>

<%break;
case 'listing-teachers': %>

<fieldset class="form-control form-courses">
	<legend>Courses - Teachers</legend>

	<div class="list-responsible">
		<% if (teachers && teachers.length > 0) { %>
		<ul id="menu-teachers">
			<li class="header">
				<span class="cell"><%= 'Name' %></span>
				<span class="cell"><%= 'E-mail Address' %></span>
				<span class="cell"><%= 'Menu' %></span>
			</li>
			<% for(i in teachers){ %>
			<li>
				<span class="name cell" data-name="<%= teachers[i].profile.name.fullName %>"><%= teachers[i].profile.name.fullName %></span>
				<span class="name cell" data-email-address="<%= teachers[i].profile.emailAddress %>"><%= teachers[i].profile.emailAddress %></span>
				<span class="cell">
					<a class="del" data-user-id="<%= teachers[i].userId %>" data-course-id="<%= teachers[i].courseId %>">
						<span class="ico">*</span>	
					</a>
				</span>
			</li>
			<%}%>
		</ul>
		<% } else { %>
		<span class="inline-alert"><%= 'Nenhum Professor Encontrado' %></span>
		<% } %>
	</div>

</fieldset>

<%break;
case 'listing-students': %>

<fieldset class="form-control form-courses">
	<legend>Courses - Students</legend>

	<div class="list-responsible">
		<% if (students && students.length > 0) { %>
		<ul id="menu-students">
			<li class="header">
				<span class="cell"><%= 'Name' %></span>
				<span class="cell"><%= 'E-mail Address' %></span>
				<span class="cell"><%= 'Menu' %></span>
			</li>
			<% for(i in students){ %>
			<li>
				<span class="name cell" data-name="<%= students[i].profile.name.fullName %>"><%= students[i].profile.name.fullName %></span>
				<span class="name cell" data-email-address="<%= students[i].profile.emailAddress %>"><%= students[i].profile.emailAddress %></span>
				<span class="cell">
					<a class="del" data-user-id="<%= students[i].userId %>" data-course-id="<%= students[i].courseId %>">
						<span class="ico">*</span>	
					</a>
				</span>
			</li>
			<%}%>
		</ul>
		<% } else { %>
		<span class="inline-alert"><%= 'Nenhum Professor Encontrado' %></span>
		<% } %>
	</div>

</fieldset>

<%break;
default:
alert('error');
}%>