<% switch (action) { 
case 'create':%>

<fieldset class="form-control form-courses">
	<legend>Courses</legend>

	<div class="form-group">
		<label for="">Text Box: </label>
		<span><input type="text" name="txtBox" persist></span>
	</div>
	
	<div class="buttons">
		<a class="btn btn-success" id="create-courses">Create</a>
	</div>

</fieldset>

<% break;
case 'delete':%>

<fieldset class="form-control form-courses">
	<legend>Courses</legend>

	<div class="form-group">
		<label for="">Page Size: </label>
		<span><input type="text" name="pageSize" persist></span>
	</div>
	
	<div class="buttons">
		<a class="btn btn-danger" id="delete-courses">Delete</a>
	</div>

</fieldset>

<%break;
case 'listing':
var x = 0;%>

<fieldset class="form-control form-courses">
	<legend>Courses</legend>

	<div class="form-group">
		<label for="">Page Size: </label>
		<span><input type="text" name="pageSize" persist></span>
	</div>
	
	<div class="buttons">
		<a class="btn btn-info" id="listing-courses">Listing</a>
	</div>

	<div class="list-responsible">
		<% if (courses && courses.length > 0) { 
		x = 0; %>
		<ul data-evt="alterStudent"  >
			<li class="header">
				<span class="cell"><%= '#' %></span>
				<span class="cell"><%= 'ID' %></span>
				<span class="cell"><%= 'Name' %></span>
			</li>
			<% for(i in courses){ 
			x++; %>
			<li>
				<span class="name cell" data-idx="<%= courses[i].id %>"><%= x %></span>
				<span class="name cell" data-idx="<%= courses[i].id %>"><%= courses[i].id %></span>
				<span class="name cell" data-idx="<%= courses[i].id %>"><%= courses[i].name %></span>
			</li>
			<%}%>
		</ul>
		<% } else { %>
		<span class="inline-alert"><%= 'Nenhum Curso Encontrado' %></span>
		<% } %>
	</div>

</fieldset>

<%break;
case 'update':%>

<fieldset class="form-control form-courses">
	<legend>Courses</legend>

	<div class="form-group">
		<label for="">Text Box: </label>
		<span><input type="text" name="txtBox" persist></span>
	</div>
	
	<div class="buttons">
		<a class="btn btn-warning" id="create-courses">Update</a>
	</div>

</fieldset>

<%break;
default:
alert('error');
}%>