<% switch (action) { 
case 'create':%>

<fieldset class="form-control form-users">
	<legend>Users</legend>

	<div class="form-group">
		<label for="">E-mail Google: </label>
		<span><input type="text" name="googleEmail" persist></span>
		<label for="">Given Name: </label>
		<span><input type="text" name="givenName" persist></span>
		<label for="">Family Name: </label>
		<span><input type="text" name="familyName" persist></span>
	</div>
	
	<div class="buttons">
		<a class="btn btn-success" id="create-users">Create</a>
	</div>

</fieldset>

<% break;
case 'delete':%>

<fieldset class="form-control form-users">
	<legend>Users</legend>

	<div class="form-group">
		<label for="">ID User: </label>
		<span><input type="text" name="userId" persist></span>
		<label for="">E-mail Google: </label>
		<span><input type="text" name="googleEmail" persist></span>
	</div>
	
	<div class="buttons">
		<a class="btn btn-danger" id="delete-users">Delete</a>
	</div>

</fieldset>

<%break;
case 'listing':%>

<fieldset class="form-control form-users">
	<legend>Users</legend>

	<div class="form-group">
		<label for="">Query: </label>
		<span><input type="text" name="query" persist></span>
		<label for="">Max Results: </label>
		<span><input type="text" name="maxResults" persist></span>
	</div>
	
	<div class="buttons">
		<a class="btn btn-info" id="listing-users">Listing</a>
	</div>

	<div class="listing" id="div-listing-users"></div>

</fieldset>

<%break;
case 'update':%>

<fieldset class="form-control form-users">
	<legend>Users</legend>

	<div class="form-group">
		<label for="">ID User: </label>
		<span><input type="text" name="userId" persist></span>
		<label for="">E-mail Google: </label>
		<span><input type="text" name="googleEmail" persist></span>
		<label for="">Given Name: </label>
		<span><input type="text" name="givenName" persist></span>
		<label for="">Family Name: </label>
		<span><input type="text" name="familyName" persist></span>
	</div>
	
	<div class="buttons">
		<a class="btn btn-warning" id="update-users">Update</a>
	</div>

</fieldset>

<%break;
default:
alert('error');
}%>