<% switch (action) { 
case 'create':%>

<fieldset class="form-control form-users">
	<legend>Users</legend>

	<div class="form-group">
		<label for="">E-mail Google: </label>
		<span><input type="text" name="googleEmail" persist></span>
		<label for="">Given Name: </label>
		<span><input type="text" name="givenName" persist></span>
		<label for="">Family Name: </label>
		<span><input type="text" name="familyName" persist></span>
	</div>
	
	<div class="buttons">
		<a class="btn btn-success" id="create-users">Create</a>
	</div>

</fieldset>

<% break;
case 'delete':%>

<fieldset class="form-control form-users">
	<legend>Users</legend>

	<div class="form-group">
		<label for="">ID User: </label>
		<span><input type="text" name="userId" persist></span>
		<label for="">E-mail Google: </label>
		<span><input type="text" name="googleEmail" persist></span>
	</div>
	
	<div class="buttons">
		<a class="btn btn-danger" id="delete-users">Delete</a>
	</div>

</fieldset>

<%break;
case 'listing':%>

<fieldset class="form-control form-users">
	<legend>Users</legend>

	<div class="form-group">
		<label for="">Query: </label>
		<span><input type="text" name="query" persist></span>
		<label for="">Max Results: </label>
		<span><input type="text" name="maxResults" persist></span>
	</div>
	
	<div class="buttons">
		<a class="btn btn-info" id="listing-users">Listing</a>
	</div>

	<div class="list-responsible">
		<% if (users && users.length > 0) { %>
		<ul data-evt="alterStudent" id="delete-users-id">
			<li class="header">
				<span class="cell"><%= 'Full Name' %></span>
				<span class="cell"><%= 'Primary E-mail' %></span>
				<span class="cell"><%= 'Menu' %></span>
			</li>
			<% for(i in users){ %>
			<li>
				<span class="cell" data-name="<%= users[i].id %>"><%= users[i].name.fullName %></span>
				<span class="cell" data-email="<%= users[i].primaryEmail %>"><%= users[i].primaryEmail %></span>
				<span class="cell">
					<a class="edit" data-idx="<%= i %>"><span class="ico">W</span></a>
					<a class="teacher" data-idx="<%= i %>"><span class="ico">&#xE02B;</span></a>
					<a class="student" data-idx="<%= i %>"><span class="ico">&#xE024;</span></a>
					<a class="del" data-id="<%= users[i].id %>"><span class="ico">*</span>	</a>
				</span>
			</li>
			<%}%>
		</ul>
		<% } else { %>
		<span class="inline-alert"><%= 'Nenhum Usuário Encontrado' %></span>
		<% } %>
	</div>

</fieldset>

<%break;
case 'update':%>

<fieldset class="form-control form-users">
	<legend>Users</legend>

	<div class="form-group">
		<label for="">ID User: </label>
		<span><input type="text" name="id" persist value="<%=user.id%>"></span>
		<label for="">E-mail Google: </label>
		<span><input type="text" name="googleEmail" persist value="<%=user.primaryEmail%>"></span>
		<label for="">Given Name: </label>
		<span><input type="text" name="givenName" persist value="<%=user.name.givenName%>"></span>
		<label for="">Family Name: </label>
		<span><input type="text" name="familyName" persist value="<%=user.name.familyName%>"></span>
	</div>
	
	<div class="buttons">
		<a class="btn btn-warning" id="update-users">Update</a>
	</div>

</fieldset>

<%break;
default:
alert('error');
}%>